In [ ]:
#Import librerie

import pandas as pd
import json

In [ ]:
#Lettura input

input_folder = "INPUT/"

In [ ]:
#Aggiunta una colonna con il nome della città (city) e una con la disponibilità di posti (Availability)
df_b = pd.read_csv(f"{input_folder}Birmingham_originale.csv", sep= ',')
df_b['city'] = 'Birmingham'

df_g = pd.read_csv(f"{input_folder}Glasgow_originale.csv", sep= ',')
df_g['city'] = 'Glasgow'

df_nk = pd.read_csv(f"{input_folder}Norfolk_originale.csv", sep= ',')
df_nk['city'] = 'Norfolk'

df_nm = pd.read_csv(f"{input_folder}Nottingham_originale.csv", sep= ',')
df_nm['city'] = 'Nottingham'

C:\Users\brbrc\AppData\Local\Temp\ipykernel_11024\2572896148.py:11: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_nm = pd.read_csv(f"{input_folder}Nottingham_originale.csv", sep= ',')

In [32]:
df_b

       SystemCodeNumber  Capacity  Occupancy          LastUpdated        city
0         Others-CCCPS8      1322        453  2016-10-05 07:57:17  Birmingham
1         Others-CCCPS8      1322        487  2016-10-05 08:30:15  Birmingham
2         Others-CCCPS8      1322        445  2016-10-04 07:59:42  Birmingham
3         Others-CCCPS8      1322        478  2016-10-04 08:25:42  Birmingham
4         Others-CCCPS8      1322        518  2016-10-04 08:59:42  Birmingham
...                 ...       ...        ...                  ...         ...
102420  Others-CCCPS202      2937       1029  2017-04-28 12:58:56  Birmingham
102421  Others-CCCPS202      2937       1028  2017-04-28 13:31:56  Birmingham
102422  Others-CCCPS202      2937       1006  2017-04-28 14:05:56  Birmingham
102423  Others-CCCPS202      2937        991  2017-04-28 14:21:54  Birmingham
102424  Others-CCCPS202      2937        969  2017-04-28 14:54:55  Birmingham

[102425 rows x 5 columns]

In [33]:
print(df_b['SystemCodeNumber'].unique().dtype)

object

In [ ]:
#Estrazione valori unici

Birmingham = df_b['SystemCodeNumber'].unique()
Glasgow = df_g['SystemCodeNumber'].unique()
Norfolk = df_nk['SystemCodeNumber'].unique()
Nottingham = df_nm['SystemCodeNumber'].unique()
print('Birmingham: ', Birmingham,
      '\nGlasgow: ', Glasgow,
      '\nNorfolk: ', Norfolk,
      '\nNottingham: ', Nottingham)

Birmingham:  ['Others-CCCPS8' 'Others-CCCPS98' 'Shopping' 'BHMAPCARC01' 'BHMBCCMKT01'
 'BHMBCCPST01' 'BHMBCCSNH01' 'BHMBCCTHL01' 'BHMBRCBRG01' 'BHMBRCBRG02'
 'BHMBRCBRG03' 'BHMBRTARC01' 'BHMEURBRD01' 'BHMEURBRD02' 'BHMMBMMBX01'
 'BHMNCPHST01' 'BHMNCPLDH01' 'BHMNCPNHS01' 'BHMNCPNST01' 'BHMNCPPLS01'
 'BHMNCPRAN01' 'Broad Street' 'Bull Ring' 'NIA Car Parks' 'NIA North'
 'NIA South' 'NIA West' 'Others-CCCPS105a' 'Others-CCCPS119a'
 'Others-CCCPS133' 'Others-CCCPS135a' 'Others-CCCPS202']
Glasgow:  ['CPG25C' 'CPG24C' 'CPG21C' 'CPG07C' 'CPG06C' 'CPG05C' 'CPG04C' 'CPG03C'
 'CPG02C' 'CPG01C' 'CPG11C']
Norfolk:  ['CPN0017' 'CPN0016' 'CPN0015' 'CPN0014' 'CPN0013' 'CPN0012' 'CPN0011'
 'CPN0010' 'CPN0009' 'CPN0008' 'CPN0007' 'CPN0006' 'CPN0005' 'CPN0004'
 'CPN0003' 'CPN0002' 'CPN0001' 'C06391']
Nottingham:  [210 211 212 911 '911' 'Am2-1' 'Am3-2' 'BRDMAR' 'BRDMSH' 'C11001' 'C11002'
 'C11004' 'C11005' 'C11006' 'C12002' 'CPM_22' 'FRSTPR' 'LACEMK' 'PHNXPR'
 'PRLMNT' 'QNSPR' 'RYLCT' 'SB1-1' 'TRINSQ' 'VICNTH' 'VICSTH' 'C11007']

In [ ]:
#Conversione in stringhe tutti i nomi dei parcheggi
df_b['SystemCodeNumber'] = df_b['SystemCodeNumber'].astype(str)
df_g['SystemCodeNumber'] = df_g['SystemCodeNumber'].astype(str)
df_nk['SystemCodeNumber'] = df_nk['SystemCodeNumber'].astype(str)
df_nm['SystemCodeNumber'] = df_nm['SystemCodeNumber'].astype(str)

In [36]:
print(df_b['SystemCodeNumber'].unique())

['Others-CCCPS8' 'Others-CCCPS98' 'Shopping' 'BHMAPCARC01' 'BHMBCCMKT01'
 'BHMBCCPST01' 'BHMBCCSNH01' 'BHMBCCTHL01' 'BHMBRCBRG01' 'BHMBRCBRG02'
 'BHMBRCBRG03' 'BHMBRTARC01' 'BHMEURBRD01' 'BHMEURBRD02' 'BHMMBMMBX01'
 'BHMNCPHST01' 'BHMNCPLDH01' 'BHMNCPNHS01' 'BHMNCPNST01' 'BHMNCPPLS01'
 'BHMNCPRAN01' 'Broad Street' 'Bull Ring' 'NIA Car Parks' 'NIA North'
 'NIA South' 'NIA West' 'Others-CCCPS105a' 'Others-CCCPS119a'
 'Others-CCCPS133' 'Others-CCCPS135a' 'Others-CCCPS202']

In [ ]:
# Ordina il DataFrame in base alla colonna 'LastUpdated' in ordine crescente

df_b = df_b.sort_values(by= 'LastUpdated', ascending = True).reset_index(drop= True)
df_g = df_g.sort_values(by= 'LastUpdated', ascending = True).reset_index(drop= True)
df_nk = df_nk.sort_values(by= 'LastUpdated', ascending = True).reset_index(drop= True)
df_nm = df_nm.sort_values(by= 'LastUpdated', ascending = True).reset_index(drop= True)

In [ ]:
#Verifica eventuale presenza di valori NaN nel dataFrame
print('Birmingham', df_b.isna().sum())
print('Glasgow', df_g.isna().sum())
print('Norfolk', df_b.isna().sum())
print('Nottingham', df_b.isna().sum())

Birmingham SystemCodeNumber    0
Capacity            0
Occupancy           0
LastUpdated         0
city                0
dtype: int64
Glasgow SystemCodeNumber    0
Capacity            0
Occupancy           0
LastUpdated         0
city                0
dtype: int64
Norfolk SystemCodeNumber    0
Capacity            0
Occupancy           0
LastUpdated         0
city                0
dtype: int64
Nottingham SystemCodeNumber    0
Capacity            0
Occupancy           0
LastUpdated         0
city                0
dtype: int64

In [ ]:
#verifica di eventuali valori di capacity negativi
print('Birmingham', df_b.loc[df_b['Capacity']<0].count())
print('Glasgow', df_g.loc[df_g['Capacity']<0].count())
print('Norfolk', df_nk.loc[df_nk['Capacity']<0].count())
print('Nottingham', df_nm.loc[df_nm['Capacity']<0].count())

Birmingham SystemCodeNumber    0
Capacity            0
Occupancy           0
LastUpdated         0
city                0
dtype: int64
Glasgow SystemCodeNumber    0
Capacity            0
Occupancy           0
LastUpdated         0
city                0
dtype: int64
Norfolk SystemCodeNumber    0
Capacity            0
Occupancy           0
LastUpdated         0
city                0
dtype: int64
Nottingham SystemCodeNumber    0
Capacity            0
Occupancy           0
LastUpdated         0
city                0
dtype: int64

In [ ]:
#Verifica di eventuali valori di Occupancy negativi
print('Birmingham', df_b.loc[df_b['Occupancy']<0].count())
print('Glasgow', df_g.loc[df_g['Occupancy']<0].count())
print('Norfolk', df_nk.loc[df_nk['Occupancy']<0].count())
print('Nottingham', df_nm.loc[df_nm['Occupancy']<0].count())

Birmingham SystemCodeNumber    387
Capacity            387
Occupancy           387
LastUpdated         387
city                387
dtype: int64
Glasgow SystemCodeNumber    585
Capacity            585
Occupancy           585
LastUpdated         585
city                585
dtype: int64
Norfolk SystemCodeNumber    0
Capacity            0
Occupancy           0
LastUpdated         0
city                0
dtype: int64
Nottingham SystemCodeNumber    0
Capacity            0
Occupancy           0
LastUpdated         0
city                0
dtype: int64

In [ ]:
# Filtra il DataFrame mantenendo solo le righe in cui il valore della colonna 'Occupancy' è maggiore o uguale a zero.

df_b = df_b[df_b['Occupancy'] >= 0]
df_g = df_g.loc[df_g['Occupancy']>=0]

In [ ]:
#Verifica se la capacità è sempre maggiore dell'occupazione
print('Birmingham', df_b.loc[df_b['Capacity']< df_b['Occupancy']].count())
print('Glasgow', df_g.loc[df_g['Capacity']< df_g['Occupancy']].count())
print('Norfolk', df_nk.loc[df_nk['Capacity']< df_nk['Occupancy']].count())
print('Nottingham', df_nm.loc[df_nm['Capacity']< df_nm['Occupancy']].count())

Birmingham SystemCodeNumber    877
Capacity            877
Occupancy           877
LastUpdated         877
city                877
dtype: int64
Glasgow SystemCodeNumber    923
Capacity            923
Occupancy           923
LastUpdated         923
city                923
dtype: int64
Norfolk SystemCodeNumber    0
Capacity            0
Occupancy           0
LastUpdated         0
city                0
dtype: int64
Nottingham SystemCodeNumber    27659
Capacity            27659
Occupancy           27659
LastUpdated         27659
city                27659
dtype: int64

In [ ]:
# Filtra il DataFrame mantenendo solo le righe in cui la capacità del parcheggio è maggiore o uguale all'occupazione

df_b = df_b.loc[df_b['Capacity']>= df_b['Occupancy']]
df_g = df_g.loc[df_g['Capacity']>= df_g['Occupancy']]
df_nm = df_nm.loc[df_nm['Capacity']>= df_nm['Occupancy']]

In [ ]:
#Verifica se sono state apportate le correzioni
print('Birmingham', df_b.loc[df_b['Capacity']< df_b['Occupancy']].count())
print('Glasgow', df_g.loc[df_g['Capacity']< df_g['Occupancy']].count())
print('Norfolk', df_nk.loc[df_nk['Capacity']< df_nk['Occupancy']].count())
print('Nottingham', df_nm.loc[df_nm['Capacity']< df_nm['Occupancy']].count())

Birmingham SystemCodeNumber    0
Capacity            0
Occupancy           0
LastUpdated         0
city                0
dtype: int64
Glasgow SystemCodeNumber    0
Capacity            0
Occupancy           0
LastUpdated         0
city                0
dtype: int64
Norfolk SystemCodeNumber    0
Capacity            0
Occupancy           0
LastUpdated         0
city                0
dtype: int64
Nottingham SystemCodeNumber    0
Capacity            0
Occupancy           0
LastUpdated         0
city                0
dtype: int64

In [ ]:
#Calcolo dei posti disponibili nel parcheggio 
df_b['Availability'] = df_b['Capacity'] - df_b['Occupancy']
df_g['Availability'] = df_g['Capacity'] - df_g['Occupancy']
df_nk['Availability'] = df_nk['Capacity'] - df_nk['Occupancy']
df_nm['Availability'] = df_nm['Capacity'] - df_nm['Occupancy']

In [ ]:
#Verifica se Availability è negativo
print('Birmingham', df_b.loc[df_b['Availability']<0].count())
print('Glasgow', df_g.loc[df_g['Availability']<0].count())
print('Norfolk', df_nk.loc[df_nk['Availability']<0].count())
print('Nottingham', df_nm.loc[df_nm['Availability']<0].count())

Birmingham SystemCodeNumber    0
Capacity            0
Occupancy           0
LastUpdated         0
city                0
Availability        0
dtype: int64
Glasgow SystemCodeNumber    0
Capacity            0
Occupancy           0
LastUpdated         0
city                0
Availability        0
dtype: int64
Norfolk SystemCodeNumber    0
Capacity            0
Occupancy           0
LastUpdated         0
city                0
Availability        0
dtype: int64
Nottingham SystemCodeNumber    0
Capacity            0
Occupancy           0
LastUpdated         0
city                0
Availability        0
dtype: int64

In [ ]:
#Converte i valori della colonna 'LastUpdated' del DataFrame in oggetti datetime di pandas.

df_b['LastUpdated']= pd.to_datetime(df_b['LastUpdated'],errors='coerce')
df_g['LastUpdated']= pd.to_datetime(df_g['LastUpdated'],errors='coerce')
df_nk['LastUpdated']= pd.to_datetime(df_nk['LastUpdated'],errors='coerce')
df_nm['LastUpdated']= pd.to_datetime(df_nm['LastUpdated'],errors='coerce')

In [48]:
df_b.head()

,SystemCodeNumber,Capacity,Occupancy,LastUpdated,city,Availability
0,BHMNCPPLS01,450,76,2016-10-04 07:46:28,Birmingham,374
1,BHMNCPNHS01,500,80,2016-10-04 07:59:42,Birmingham,420
2,BHMBCCSNH01,863,177,2016-10-04 07:59:42,Birmingham,686
3,Others-CCCPS98,3103,588,2016-10-04 07:59:42,Birmingham,2515
4,BHMBCCTHL01,387,120,2016-10-04 07:59:42,Birmingham,267

In [ ]:
#Ordinamento del dataframe secondo LastUpdated ascendente

df_b  = df_b.sort_values(by='LastUpdated', ascending=True).reset_index(drop=True)
df_g  = df_g.sort_values(by='LastUpdated', ascending=True).reset_index(drop=True)
df_nk = df_nk.sort_values(by='LastUpdated', ascending=True).reset_index(drop=True)
df_nm = df_nm.sort_values(by='LastUpdated', ascending=True).reset_index(drop=True)

In [50]:
#Sarà utilizzato nella regressione
df_parking = pd.concat([df_b, df_g, df_nk, df_nm])

In [ ]:
#Conversione in csv

df_parking.to_csv(f"{input_folder}Parking.csv")

In [ ]:
#Crea una nuova colonna chiamata 'weekday' nel DataFrame

df_b['weekday'] = df_b['LastUpdated'].dt.dayofweek
df_g['weekday'] = df_g['LastUpdated'].dt.dayofweek
df_nk['weekday'] = df_nk['LastUpdated'].dt.dayofweek
df_nm['weekday'] = df_nm['LastUpdated'].dt.dayofweek

In [ ]:
weekday = {
    0: "lunedì",
    1: "martedì",
    2: "mercoledì",
    3: "giovedì",
    4: "venerdì",
    5: "sabato",
    6: "domenica"
}   

#Nel DataFrame la colonna 'weekday' viene convertita da numero a stringa

df_b['weekday'] = df_b['weekday'].map(weekday)
df_g['weekday'] = df_g['weekday'].map(weekday)
df_nk['weekday'] = df_nk['weekday'].map(weekday)
df_nm['weekday'] = df_nm['weekday'].map(weekday)

In [54]:
df_b

,SystemCodeNumber,Capacity,Occupancy,LastUpdated,city,Availability,weekday
0,BHMNCPPLS01,450,76,2016-10-04 07:46:28,Birmingham,374,martedì
1,Others-CCCPS119a,2803,195,2016-10-04 07:59:42,Birmingham,2608,martedì
2,Others-CCCPS133,4675,804,2016-10-04 07:59:42,Birmingham,3871,martedì
3,Others-CCCPS8,1322,445,2016-10-04 07:59:42,Birmingham,877,martedì
4,BHMBCCPST01,317,93,2016-10-04 07:59:42,Birmingham,224,martedì
...,...,...,...,...,...,...,...
101156,Others-CCCPS8,1322,602,2017-04-28 14:54:55,Birmingham,720,venerdì
101157,Bull Ring,3049,1443,2017-04-28 14:54:55,Birmingham,1606,venerdì
101158,Others-CCCPS135a,3883,2697,2017-04-28 14:54:55,Birmingham,1186,venerdì
101159,BHMAPCARC01,549,311,2017-04-28 14:54:55,Birmingham,238,venerdì
101160,Others-CCCPS202,2937,969,2017-04-28 14:54:55,Birmingham,1968,venerdì

In [ ]:
#Salva il DataFrame in un file CSV nella cartella specificata dalla variabile input_folder.

df_b.to_csv(f"{input_folder}Birmingham.csv") 
df_g.to_csv(f"{input_folder}Glasgow.csv")
df_nk.to_csv(f"{input_folder}Norfolk.csv")
df_nm.to_csv(f"{input_folder}Nottingham.csv")